@font-face {
    font-family: "Alef MultiGndr", sans-serif, Arial;
    src: url(fonts/AlefMultiGndr-Regular.woff);
    color: red;
}

p {
    font-family: 'Lucida Sans', Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    
}

